@CHARSET "ISO-8859-1";


/*%%%%%%%%%%%%%%%% calendar styles %%%%%%%%%%%%%%%%%*/

#helper_calendar{

  font: 8pt verdana;
  height: 203px;
  width: 180px;
  position: absolute;
  top: -1px;
  left: -1px;
  display: none;

}
.calTable a.cancel:link, a.cancel:active, a.cancel:visited{

	 color: #000000;
	 text-decoration: none;

}
.calTable a.cancel:hover{

	 font-weight: 4px;
	 text-decoration: underline;

}
.calTable td:hover{

	 background-color:#CCCCCC;

}

.calTable {
	color: #000000;
	background-color: #f3f3f3;
	background-repeat: no-repeat;
	border: 2px solid #CCCCCC;
	height: 200px;
	width: 180px;
}

.calButton {
	width: 50px;
	cursor: hand;
	text-align: center;
	font-weight: bold;
	background-color: #CCCCCC;
}

.weekStyle td{
	background-color: #CCCCCC;
	border: 0px solid #CCCCCC;
	text-align: center;
	font-weight: bold;
	cursor: hand;
}
.normalDay{

	 text-decoration: none;
	 color: #000000;

}
.sundayColor {
	color: #FF9900;
	text-decoration: none;
}

.today {
	background-color: #000000;
	color: #FFFFFF;
	text-decoration: none;
}
