@CHARSET "ISO-8859-1";


/* LOADING SCREEN STYLES (javascript uses this)*/

div#loading_cover{
	position:absolute;
	top: -1000px;
	left: -1000px;
	display: none;
	
	background-color: #796646;
	opacity: 0.8;
	filter: alpha(opacity=80);
	z-index: 1000;
	width: 5px;
	height: 5px;
}
div#loading_box{
	position:absolute;
	top: -1000px;
	left: -1000px;
	display: none;
	
	width: 200px;
	height: 200px;
	
	/*background-color: #796646;*/
	text-align: center;
	vartical-align: middle;
	font: bold 16pt verdana;
	/*border: thick solid #000000;*/
	z-index: 2000;
}