@charset "UTF-8";

#sample_data_container {
	width: 270px;
	height: 150px;
	border: thin solid #6A5A40;
	margin-top: 0px;
	padding: 5px;
	text-align: left;
	background-color: #ccc;
}

#sample_info {
	font-size: 10px;
}

#sample_label {
	text-align: left;
	width: 272px;
	font-weight: bold;
	font-size: 12px;
	padding: 5px;
	margin-top: 50px;
	margin-bottom: 0px;
	background-color: #6A5A40;
	color: #fff;
}

#sample_data {
	margin-top: 30px;
	list-style-image: url("../images/favicon_skemo.ico");
}

#sample_data li {
	cursor: pointer;
	cursor: hand;
	margin: 10px;
}

#sample_data li:hover {
	text-decoration: underline;
	color: red;
}