@CHARSET "ISO-8859-1";

#a ul li{
	float:left;
	margin-left:80px;
	list-style-type:none;
	}

#a{
	margin-left:-20px;
}

/*------------------------------*/
div#pref_container{
	font-weight:bold;
	border:3px dashed #FF6600; 
	padding:10px; 
	width:680px; 
	background-color:#EFEFEF;
}
div#extension{
    border: none solid black;
    background-color: #EFEFEF; 
    width: 600px;
    text-align: left;
}
strong.day_label{
    font: bolder 10pt verdana;
    color: #000000;
}
h6.labels{
	font: bolder 10pt verdana;
	color: #000000;
}
select.vacant_selects{
  	width:100px;
  	text-align:left;
}
.msg{
	font: bold 10px verdana;
	color: #7D6A4A;
	text-align: center;
	padding: 2px;
}
hr{
	width: 600px;
}
/*--------------new as of 02-06-09--------------*/

select{
	width: 100px;
}
select.locations{
	width: 160px;
}
/*--------------new as of 02-18-09--------------*/

a.help_info {
	text-decoration: none;
	color: red;
	font-weight: bold;
	font-size: 12px;
	float: right;
}

a.help_info:hover {
	text-decoration: underline;
} 
a.time_to_plot {
	text-decoration: none;
	color: red;
	font-weight: bold;
	font-size: 12px;
	border-width: 0px;
}
a.time_to_plot:hover {
	text-decoration: underline;
}

#error_msg {
	width: 400px;
	height: 70px;
	background-color: #FFD5D1;
	border: thin solid black;
	text-align: center;
	padding-top: 45px;
	padding-left: 5px;
	padding-right: 5px;
}

/*--------------new as of 02-28-09--------------*/

#error_message_below {
	padding-top: 5px;
	color: red;
}

/*
select {
	color: red;
	font-weight: bold;
	/*background-color: #D1C8A9;*/
}
/*select option:hover {
	text-decoration: underline;
}
*/